[alias]
  # View the current working tree status using the short format
  s = status -s

  # Helper to undo the last commit
  undo = !git reset HEAD~1 --mixed

  # Prettier default view for
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative

  # Clone a repository including all submodules
  c = clone --recursive

  # Amend the currently staged files to the latest commit. This is what I
  # usually do anyway.
	amend = commit --amend --reuse-message=HEAD

  # Color graph log view
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

  # Show all aliases (Good when first learning)
  alias=!git config -l | grep ^alias | cut -c 7- | sort

  # Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[diff]
	# Detect copies as well as renames
	renames = copies

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

; [http]
; 	cookiefile = ~/.gitcookies

; [gpg]
; 	program = gpg2

[user]
	name = Connor Atherton
	email = connor@connoratherton.com
